<%= form_for(post) do |f| %>
<table>
	<tbody>
		<tr>
			<td>
				<%= f.attachment_field :post_image %>
			</td>
			<td>
				<%= f.label :murmur, "Text" %><br>
				<%= f.text_area :murmur %>
			</td>
		</tr>
		<tr>
			<td><%= f.submit "投稿" %></td>
			<td>
				<%= f.label :tag_list, "Tag" %>
				<%= text_field_tag "post[tag_list", post.tag_list, :class => "form-control" %>
			</td>
		</tr>
	</tbody>
</table>
<% end %>