<div class="row col-xs-9">
	<%= form_for(post, url:"/public/posts/#{post.id}") do |f| %>
		<%= f.label :murmur, "Text" %>
		<%= f.text_area :murmur %>
		<%= f.label :tag_list, "Tag" %>
		<%= text_field_tag "post[tag_list", post.tag_list, :class => "form-control" %>
		<%= f.submit "投稿" %>
	<% end %>
</div>