<% if user_signed_in? %>
	<% if @post.user.id == current_user.id? %>
		<%= render "public/users/leftbar", me: current_user %>
	<% else %>
		<%= render "public/users/show_leftbar", me: @post.user %>
	<% end %>




<% else %>
	<%= render "public/users/leftbar", me: current_user %>
<% end %>

<div class="col-xs-6">
	<%= attachment_image_tag(@post, :post_image, :fill, 500, 500, fallback: "カメラでの撮影禁止アイコン 3.jpeg") %><br>

<% if user_signed_in? %>
	<%= attachment_image_tag(current_user, :icon_image, :fill, 50, 50, fallback: "カメラでの撮影禁止アイコン 3.jpeg", size:"50x50") %>
	<%= current_user.name %>
	@<%= current_user.friendly_url %>

	<%= form_for [@post, @post_comment] do |f| %>
		<%= f.text_area :reaction %>
		<%= f.submit "Sent" %>
	<% end %>
<% end %>
</div>

<div class="col-xs-3">
	<%= attachment_image_tag(@post.user, :icon_image, :fill, 50, 50, fallback: "カメラでの撮影禁止アイコン 3.jpeg", size:"50x50") %>
	<%= @post.user.name %>
	@<%= @post.user.friendly_url %><br>
	<%= @post.created_at %>
	<% @post.tag_list.each do |tag| %>
		<span><%= tag %></span>
	<% end %>
	<%= @post.murmur %>

	<% @post_comments.each do |post_comment| %>
		<%= attachment_image_tag(post_comment.user, :icon_image, :fill, 50, 50, fallback: "カメラでの撮影禁止アイコン 3.jpeg", size:"50x50") %>
		<%= post_comment.user.name %>
		<%= post_comment.user.friendly_url %>
		<%= post_comment.reaction %>
		<% if user_signed_in? %>
		<% if post_comment.id == current_user.id %>
			<%= link_to "削除", post_post_comments_path(post_comment.id), method: :delete %>
		<% end %>
		<% end %>
	<% end %>
</div>
