<%= render "admin/users/leftbar" %>
<div class="content">
<p id="notice"><%= notice %></p>
<%= render "admin/users/show", user: @user %>
<% if @user.deleted_at.nil? %>
<%= render "news_form", message: @message, user: @user %>
<% end %>
<%= render "show", messages: @messages %>
</div>