<% posts.each do |post| %>
<table>
	<tbody>
		<tr>
			<td rowspan="5" height="250" width="260">
				<%= link_to admin_post_path(post) do %>
				<%= attachment_image_tag(post, :post_image, :fill, 200, 200, fallback: "カメラでの撮影禁止アイコン 3.jpeg", size: "200x200") %>
				<% end %>
			</td>
		</tr>
		<tr>
			<td>
				<%= link_to admin_user_path(post.user) do %>
				<%= attachment_image_tag(post.user, :icon_image, :fill, 50, 50, fallback: "カメラでの撮影禁止アイコン 3.jpeg", size:"50x50") %>
				<%= post.user.name %>
				@<%= post.user.friendly_url %><br>
				<% end %>
			</td>
		</tr>
		<tr>
			<td>
				<%= post.murmur %>
			</td>
		</tr>
		<tr>
			<td>
				<% post.tag_list.each do |tag| %>
				<span><%= link_to tag, admin_posts_path(tag_name: tag) %></span>
				<% end %>
			</td>
		</tr>
		<tr>
			<td width="400"><%= post.created_at.to_s(:datetime_jp) %></td>
			<td width="100">
				<span class="glyphicon glyphicon-heart">
					<%= post.favorites.count%>
				</span>
			</td>
			<td width="100">
				<%= link_to "Delete", post_path(post), method: :delete %>
			</td>
		</tr>
	</tbody>
</table>
<% end %>