<%= render "admin/users/leftbar" %>
<div class="col-xs-9">
	<%= link_to "Back", :back %>
	User
	<%= render "admin/users/show", user: @post.user %>
	<%= render "admin/posts/post", post: @post %>
	<%= render "comment", post_comments: @post_comments %>
</div>
