<%= render "admin/users/leftbar" %>
<div class="content">
	<p id="notice"><%= notice %></p>
	<%= form_for(@message, url:"/admin/messages") do |f| %>
	<table>
		<tbody>
			<tr>
				<td>
					<%= f.label "Title" %><br>
					<%= f.text_field :title, :size=>"70" %>
				</td>
			</tr>
			<tr>
				<td>
					<%= f.label "Text" %><br>
					<%= f.text_area :news_text, size: "70x7" %>
				</td>
			</tr>
		</tbody>
	</table>
		<%= f.hidden_field :user_id, :value => 1 %>
		<%= f.submit "Sent" %>
	<% end %>

	<%= render "admin/messages/show", messages: News.where(user_id: 1) %>
</div>