<%= favorites.each do |favorite| %>
	<% post = Post.find_by(id: favorite.post_id) %>
	<%= attachment_image_tag(favorite.post, :post_image, :fill, 200, 200, fallback: "カメラでの撮影禁止アイコン 3.jpeg") %>
	<%= favorite.murmur %>
	<% post.tag_list.each do |tag| %>
		<span><%= tag %></span>
	<% end %>
	<% if post.favorite_by?(current_user) %>
				<%= link_to post_favorites_path(post), method: :delete do %>
				<span class="glyphicon glyphicon-heart">
					<%= post.favorites.count%>
				</span>
				<% end %>
				<% else %>
				<%= link_to post_favorites_path(post), method: :post do %>
				<span class="glyphicon glyphicon-heart-empty">
					<%= post.favorites.count %>
				</span>
				<% end %>
				<% end %>
<% end %>