<div class="row col-xs-3">
	<div class="">
		<% if user_signed_in? %>
			<table>
				<tr><td><%= me.name %></td></tr>
				<tr><td>@<%= me.friendly_url %></td></tr>
				<tr><td><%= me.website %></td></tr>
				<tr><td><%= me.introduction %></td></tr>
				<tr>
					<td>
						<%= link_to user_followers_path(me.friendly_url) do %>
							follow <%= me.follower.count %>
						<% end %>
					</td>
				</tr>
				<tr>
					<td>
						<%= link_to user_follows_path(me.friendly_url) do %>
							folower<%= me.followed.count %>
						<% end %>
					</td>
				</tr>
			</table>
			<%= link_to "Setting" %>
		<% else %>
			<%= link_to "ログインはこちらから", new_user_session_path %><br>
			<%= link_to "新規登録はこちらから", new_user_registration_path %>
		<% end %>
	</div>
	<div class="">

	</div>
</div>