<div class="row col-xs-3">
	<div class="">
		<table>
			<tr><td><%= me.name %></td></tr>
			<tr><td>@<%= me.friendly_url %></td></tr>
			<tr><td><%= me.website %></td></tr>
			<tr><td><%= me.introduction %></td></tr>
			<tr><td>follow <%= me.follower.count %></td></tr>
			<tr><td>folower<%= me.followed.count %></td></tr>
		</table>
		<%= link_to "Setting" %>
	</div>
	<div class="">
		
	</div>
</div>