<header>
  <div class="header" id="header">
    <div class="container">
      <div id="slidemenu">
        <div class="navbar-text navbar-left">
          <span class="navbar-title">
            <% if owner_signed_in? %>
              <%= link_to "LOGO" %>
            <% else %>
              <%= link_to "LOGO","/" %>
            <% end %>
          </span>
        </div>
        <% if owner_signed_in? %>
          <ul class="nav navbar-nav navbar-right" data-hover="dropdown"data-animations="zoomIn fadeIn fadeInUp fadeIn">
            <li><%= link_to "商品一覧" %></li>
            <li><%= link_to "会員一覧" %></li>
            <li><%= link_to "注文履歴一覧" %></li>
            <li><%= link_to "ジャンル管理" %></li>
            <li><%= link_to "ログアウト", destroy_owner_session_path, method: :delete %></li>
          </ul>
        <% elsif user_signed_in? %>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Top" ,"/" %></li>
            <li><%= link_to "Mypage" ,users_mypage_path(current_user.friendly_url) %></li>
            <li><%= link_to "Infomation" , newss_index_path %></li>
            <li><%= link_to "Message" , newss_message_path(current_user.friendly_url) %></li>
            <li><%= link_to "Notice" ,notices_path(current_user.friendly_url) %></li>
            <li><%= link_to "Log out" ,destroy_user_session_path, method: :delete %></li>
          </ul>
        <% else %>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Top" ,"/" %></li>
            <li><%= link_to "Infomation" , newss_index_path %></li>
            <li><%= link_to "Log in" ,new_user_session_path %></li>
            <li><%= link_to "Sign up" ,new_user_registration_path %></li>
          </ul>
        <% end %>
        <div class="search-form" style="margin-top: 70px; text-align: center;">
          <%= form_tag(searches_search_path, method: :get) do %>
            <%= text_field_tag 'search[content]' %>
            <%= select_tag 'search[model]', options_for_select({ "User" => "users", "Post" => "posts", "Tag" => "tags" }) %>
            <%#= select_tag 'search[method]', options_for_select({ "完全一致" => "perfect", "前方一致" => "forward", "後方一致" => "backward", "部分一致" => "partial" }) %>
            <%= submit_tag '検索' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</header>